<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <link rel="stylesheet" href="/css/edit.css">
</head>
<body>
    <div class="edit <%= activeTab == 'password' ? 'visible' : '' %>">
        <h1>Profile Information</h1>
        <form action="/edit" method="post">
           <label>
               <p>Email: </p><input type="text" name="email" value="<%=user.email %>">
           </label>
            
           <label>
            <p>Market Name: </p><input type="text" name="market" value="<%=user.market %>">
           </label>
            
           <label>
               <p>City: </p><input type="text" name="city" value="<%=user.city %>">
           </label>
    
           <label>
               <p>District: </p><input type="text" name="district" value="<%=user.district %>">   
           </label>
           <%if(success!=null){%>
                <p><%=success%></p>
            <%}%>
            <button type="submit">Edit</button>
        </form>
        <button class="change">Change Password</button>
    </div>

    <div class="edit <%= activeTab == 'info' ? 'visible' : '' %>">
        <h1>Change Password</h1>
        <form action="/edit-password" method="post">
            <label>
                Enter Current Password: <input type="password" name="current">
            </label>
            
            <label>
                Enter New Password: <input type="password" name="new1">
            </label>
            
            <label>
                Enter New Password Again: <input type="password" name="new2">
            </label>
            
            <% if (errors && errors.length > 0) { %>
                <% errors.forEach(e => { %>
                    <p class="error"><%= e %></p>
                <% }) %>
            <% } %>

            <% if (success) { %>
                <p class="success"><%= success %></p>
            <% } %>

            <button type="submit">Edit</button>
        </form>
        <button class="change">Change Info</button>
    </div>    
    <a style=" display: block;margin: 0px auto; width: fit-content;" href="/marketpage">Back to Market Page</a>


    <script src="/script/edit.js"></script>
</body>
</html>