<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/marketpage.css">
    <title>Market Page</title>
</head>
<body>
    <section class="top">
        <img class="options" src="/img/menu.png">
        <h1><%=user.market%></h1>
    </section>

    <div class="container">
        <section class="left">
            <p><a  href="/addOne"> <img class="image" src="/img/add.png"><span>Add Products</span></a></p>
            <div>
                <p><a href="/edit"> <img class="image" src="/img/profile.png"><span>Edit Profile</span></a></p>
                <p><a href="/logout"> <img class="image" src="/img/logout.png"><span>Logout</span></a></p>
            </div>
        </section>

        <section class="main">
            <% if(shown.length) {%>
                <h2>PRODUCTS</h2>
            <% } else { %>
                <h2>NO PRODUCTS</h2>
            <% } %>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <% if(shown.length>0) {%>
                                <% if(page!==1) {%>
                                    <a href="/marketpage/?page=<%=page-1%>"><img class="arrows" src="/img/left-arrow.png"></a>
                                <% } else { %>
                                    <img style="opacity:0.5" class="arrows" src="/img/left-arrow.png">
                                <% } %>
                            <% } %>
                        </td>

                        <%for(pro of shown){%>
                            <td>
                                <div class="product <%= pro['expire_date'].toISOString().slice(0, 10) < new Date().toISOString().slice(0, 10) ? 'expired' : '' %>">
                                    <img class="proImg" src="/products/<%=pro.img%>">
                                    <p><%=pro.title%></p>
                                    <p>Stock: <%=pro.stock%></p>
                                    <p>Normal Price: <%=pro["normal_price"]%>$</p>
                                    <p>Discounted Price: <%=pro["discount_price"]%>$</p>
                                    <p>Expiration Date: <%=pro["expire_date"].toLocaleDateString(`tr-TR`)%></p>
                                    <div class="proctrl">
                                        <a href="/edit-product/<%=pro.id%>"><img class="image" src="/img/edit.png"></a>
                                        <a href="/delete/<%=pro.id%>"><img class="image" src="/img/delete.png"></a>
                                    </div>
                                </div>
                            </td>
                        <%}%> 

                         <td>
                            <% if(shown.length>0) {%>
                                <% if(page<pagenum) {%>
                                    <a href="/marketpage/?page=<%=page+1%>"><img class="arrows" src="/img/right-arrow.png"></a>
                                <% } else { %>
                                    <img style="opacity:0.5" class="arrows" src="/img/right-arrow.png">
                                <% } %>
                            <% } %>
                        </td>
                        
                    </tr>
                </tbody>            
            </table>
        </section>
    </div>

    <script src="/script/market.js"></script>
</body>
</html>


